<div class="tags-container-ru--mobile">
  <a href="{{site.massMediaUrl}}/ru{{include.tagsPath}}Биткоин" target="_blank" class="tag" data-weight="7">Биткоин</a>
  <a href="{{site.massMediaUrl}}/ru{{include.tagsPath}}Эфириум" target="_blank" class="tag" data-weight="2">Эфириум</a>
  <a href="{{site.massMediaUrl}}/ru{{include.tagsPath}}Блокчейн" target="_blank" class="tag" data-weight="12">Блокчейн</a>
  <a href="{{site.massMediaUrl}}/ru{{include.tagsPath}}Криптовалюта" target="_blank" class="tag" data-weight="5">Криптовалюта</a>
  <a href="{{site.massMediaUrl}}/ru{{include.tagsPath}}Децентрализация" target="_blank" class="tag" data-weight="2">Децентрализация</a>
  <a href="{{site.massMediaUrl}}/ru{{include.tagsPath}}Смарт-контракты" target="_blank" class="tag" data-weight="5">Смарт-контракты</a>
  <a href="{{site.massMediaUrl}}/ru{{include.tagsPath}}Альткоин" target="_blank" class="tag" data-weight="10">Альткоин</a>
  <a href="{{site.massMediaUrl}}/ru{{include.tagsPath}}Майнинг" target="_blank" class="tag" data-weight="8">Майнинг</a>
  <a href="{{site.massMediaUrl}}/ru{{include.tagsPath}}Кошелек" target="_blank" class="tag" data-weight="3">Кошелек</a>
  <a href="{{site.massMediaUrl}}/ru{{include.tagsPath}}Токен" target="_blank" class="tag" data-weight="4">Токен</a>
  <a href="{{site.massMediaUrl}}/ru{{include.tagsPath}}Цифровой актив" target="_blank" class="tag" data-weight="7">Цифровой актив</a>
  <a href="{{site.massMediaUrl}}/ru{{include.tagsPath}}Подтверждение-работы" target="_blank" class="tag" data-weight="11">Подтверждение работы</a>
  <a href="{{site.massMediaUrl}}/ru{{include.tagsPath}}Подтверждение-доли" target="_blank" class="tag" data-weight="3">Подтверждение доли</a>
  <a href="{{site.massMediaUrl}}/ru{{include.tagsPath}}Консенсус" target="_blank" class="tag" data-weight="5">Консенсус</a>
  <a href="{{site.massMediaUrl}}/ru{{include.tagsPath}}Хардфорк" target="_blank" class="tag" data-weight="8">Хардфорк</a>
  <a href="{{site.massMediaUrl}}/ru{{include.tagsPath}}Софтфорк" target="_blank" class="tag" data-weight="6">Софтфорк</a>
  <a href="{{site.massMediaUrl}}/ru{{include.tagsPath}}Хеширование" target="_blank" class="tag" data-weight="1">Хеширование</a>
</div>
