<div class="tags-container-en--desktop">
  <a href="{{site.massMediaUrl}}{{include.tagsPath}}Bitcoin" target="_blank" class="tag" data-weight="27">Bitcoin</a>
  <a href="{{site.massMediaUrl}}{{include.tagsPath}}Ethereum" target="_blank" class="tag" data-weight="20">Ethereum</a>
  <a href="{{site.massMediaUrl}}{{include.tagsPath}}Blockchain" target="_blank" class="tag" data-weight="34">Blockchain</a>
  <a href="{{site.massMediaUrl}}{{include.tagsPath}}Cryptocurrency" target="_blank" class="tag" data-weight="18">Cryptocurrency</a>
  <a href="{{site.massMediaUrl}}{{include.tagsPath}}Decentralization" target="_blank" class="tag" data-weight="23">Decentralization</a>
  <a href="{{site.massMediaUrl}}{{include.tagsPath}}Smart-contracts" target="_blank" class="tag" data-weight="14">Smart Contracts</a>
  <a href="{{site.massMediaUrl}}{{include.tagsPath}}NFT" target="_blank" class="tag" data-weight="12">NFT</a>
  <a href="{{site.massMediaUrl}}{{include.tagsPath}}Altcoin" target="_blank" class="tag" data-weight="20">Altcoin</a>
  <a href="{{site.massMediaUrl}}{{include.tagsPath}}Mining" target="_blank" class="tag" data-weight="12">Mining</a>
  <a href="{{site.massMediaUrl}}{{include.tagsPath}}Wallet" target="_blank" class="tag" data-weight="22">Wallet</a>
  <a href="{{site.massMediaUrl}}{{include.tagsPath}}Token" target="_blank" class="tag" data-weight="4">Token</a>
  <a href="{{site.massMediaUrl}}{{include.tagsPath}}Digital-Asset" target="_blank" class="tag" data-weight="7">Digital Asset</a>
  <a href="{{site.massMediaUrl}}{{include.tagsPath}}ICO" target="_blank" class="tag" data-weight="10">ICO</a>
  <a href="{{site.massMediaUrl}}{{include.tagsPath}}DeFi" target="_blank" class="tag" data-weight="22">DeFi</a>
  <a href="{{site.massMediaUrl}}{{include.tagsPath}}Proof-of-Work" target="_blank" class="tag" data-weight="16">Proof of Work</a>
  <a href="{{site.massMediaUrl}}{{include.tagsPath}}Proof-of-Stake" target="_blank" class="tag" data-weight="23">Proof of Stake</a>
  <a href="{{site.massMediaUrl}}{{include.tagsPath}}Consensus" target="_blank" class="tag" data-weight="5">Consensus</a>
  <a href="{{site.massMediaUrl}}{{include.tagsPath}}Hard-Fork" target="_blank" class="tag" data-weight="12">Hard Fork</a>
  <a href="{{site.massMediaUrl}}{{include.tagsPath}}Soft-Fork" target="_blank" class="tag" data-weight="17">Soft Fork</a>
  <a href="{{site.massMediaUrl}}{{include.tagsPath}}Hashing" target="_blank" class="tag" data-weight="26">Hashing</a>
</div>
