<div class="tags-container-ru--mobile">
  <a href="/ru{{include.tagsPath}}Биткоин" class="tag" data-weight="7">Биткоин</a>
  <a href="/ru{{include.tagsPath}}Эфириум" class="tag" data-weight="2">Эфириум</a>
  <a href="/ru{{include.tagsPath}}Блокчейн" class="tag" data-weight="12">Блокчейн</a>
  <a href="/ru{{include.tagsPath}}Криптовалюта" class="tag" data-weight="5">Криптовалюта</a>
  <a href="/ru{{include.tagsPath}}Децентрализация" class="tag" data-weight="2">Децентрализация</a>
  <a href="/ru{{include.tagsPath}}Смарт-контракты" class="tag" data-weight="5">Смарт-контракты</a>
  <a href="/ru{{include.tagsPath}}Альткоин" class="tag" data-weight="10">Альткоин</a>
  <a href="/ru{{include.tagsPath}}Майнинг" class="tag" data-weight="8">Майнинг</a>
  <a href="/ru{{include.tagsPath}}Кошелек" class="tag" data-weight="3">Кошелек</a>
  <a href="/ru{{include.tagsPath}}Токен" class="tag" data-weight="4">Токен</a>
  <a href="/ru{{include.tagsPath}}Цифровой актив" class="tag" data-weight="7">Цифровой актив</a>
  <a href="/ru{{include.tagsPath}}Подтверждение-работы" class="tag" data-weight="11">Подтверждение работы</a>
  <a href="/ru{{include.tagsPath}}Подтверждение-доли" class="tag" data-weight="3">Подтверждение доли</a>
  <a href="/ru{{include.tagsPath}}Консенсус" class="tag" data-weight="5">Консенсус</a>
  <a href="/ru{{include.tagsPath}}Хардфорк" class="tag" data-weight="8">Хардфорк</a>
  <a href="/ru{{include.tagsPath}}Софтфорк" class="tag" data-weight="6">Софтфорк</a>
  <a href="/ru{{include.tagsPath}}Хеширование" class="tag" data-weight="1">Хеширование</a>
</div>
