<div class="tags-container-en--mobile">
  <a href="{{include.tagsPath}}Bitcoin" class="tag" data-weight="7">Bitcoin</a>
  <a href="{{include.tagsPath}}Ethereum" class="tag" data-weight="3">Ethereum</a>
  <a href="{{include.tagsPath}}Blockchain" class="tag" data-weight="12">Blockchain</a>
  <a href="{{include.tagsPath}}Cryptocurrency" class="tag" data-weight="5">Cryptocurrency</a>
  <a href="{{include.tagsPath}}Decentralization" class="tag" data-weight="2">Decentralization</a>
  <a href="{{include.tagsPath}}Smart-Contracts" class="tag" data-weight="5">Smart Contracts</a>
  <a href="{{include.tagsPath}}NFT" class="tag" data-weight="6">NFT</a>
  <a href="{{include.tagsPath}}Altcoin" class="tag" data-weight="10">Altcoin</a>
  <a href="{{include.tagsPath}}Mining" class="tag" data-weight="8">Mining</a>
  <a href="{{include.tagsPath}}Wallet" class="tag" data-weight="3">Wallet</a>
  <a href="{{include.tagsPath}}Token" class="tag" data-weight="4">Token</a>
  <a href="{{include.tagsPath}}Digital-Asset" class="tag" data-weight="7">Digital Asset</a>
  <a href="{{include.tagsPath}}ICO" class="tag" data-weight="10">ICO</a>
  <a href="{{include.tagsPath}}DeFi" class="tag" data-weight="5">DeFi</a>
  <a href="{{include.tagsPath}}Proof-of-Work" class="tag" data-weight="11">Proof of Work</a>
  <a href="{{include.tagsPath}}Proof-of-Stake" class="tag" data-weight="3">Proof of Stake</a>
  <a href="{{include.tagsPath}}Consensus" class="tag" data-weight="5">Consensus</a>
  <a href="{{include.tagsPath}}Hard-Fork" class="tag" data-weight="8">Hard Fork</a>
  <a href="{{include.tagsPath}}Soft-Fork" class="tag" data-weight="6">Soft Fork</a>
  <a href="{{include.tagsPath}}Hashing" class="tag" data-weight="1">Hashing</a>
</div>
