<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <script src="{{baseurl}}/assets/scripts/home/script.js"></script>
  <head>
    <title>
      {{ page.title }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{baseurl}}/assets/styles/css/style.css" rel="stylesheet">
    <!-- Include fonts -->
    {% include fonts.html %}
    <!-- Include animations -->
    {% include animations.html %}
  </head>
  <body>
    <div class="header">
      <div class="header-logo">
        {% if page.lang == "en" %}
          <a href="/">IXOlist Mass Media</a>
        {% else %}
          <a href="/ru">IXOlist СМИ</a>
        {% endif %}
      </div>
      <!-- {% include breadcrumbs.html %} -->
      {% include multilang-buttons.html %}
    </div>
    {{ content }}
  </body>
</html>
