<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <script src="{{baseurl}}/assets/scripts/home/script.js"></script>
  <head>
    <title>
      {{ page.title }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="We are creating a Web3 platform for people and organizations to provide the opportunity to participate in honest and reliable cryptocurrency projects, and also creating a bridge between the crypto world and business development for greater efficiency and effectiveness.">
    <meta name="keywords" content="IXOList, cryptocurrencies, ICO, blockchain, news, analytics, reviews, investments, news. IXOList, криптовалюты, ICO, блокчейн, аналитика, инвестиции, новости">
    <meta name="author" content="IXOList">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta property="og:image" content="{{baseurl}}/assets/graphics/images/open-graph-img.jpg"/>
    <link rel="icon" type="image/x-icon" href="{{baseurl}}/assets/graphics/images/favico.ico">
    <link href="{{baseurl}}/assets/styles/css/new-styles.css" rel="stylesheet">
    <!-- Include animations -->
    {% include animations.html %}
    {% include bootstrap.html %}
  </head>
    <div class="header sticky-top shadow-lg" style="
      background: #1976D2;
    ">
      <div class="container d-flex">
        <div class="col">
          <div class="header-logo d-flex fs-5 p-3">
            {% if page.lang == "en" %}
              <a href="{{site.marketing_site_url}}" target="_blank">IXOlist</a>
              <div class="sub-logo">
                <a href="/">Mass Media</a>
              </div>
            {% else %}
              <a href="{{site.marketing_site_url}}" target="_blank">IXOlist</a>
              <div class="sub-logo">
                <a href="/{{page.lang}}">СМИ</a>
              </div>
            {% endif %}
          </div>
        </div>
      <div class="d-flex align-items-center">
        {% if page.lang == "en" %}
          <div class="sub-logo fs-5">
            <a href="/tags-cloud">Tags</a>
          </div>
          <div class="sub-logo fs-5">
            <a href="/news">News</a>
          </div>
        {% else %}
          <div class="sub-logo fs-5">
            <a href="/ru/tags-cloud">Теги</a>
          </div>
          <div class="sub-logo fs-5">
            <a href="/ru/news">Новости</a>
          </div>
        {% endif %}
        <!-- {% include multilang-buttons.html %} -->
      </div>
      </div>
    </div>
  <body>
    <div class="container p-4">
      <div class="col text-primary d-flex flex-column align-items-start">
          <h2 class="fw-bold display-4 animate__animated animate__fadeInDown" style="
            color: #1976D2;"
          >
            {{ page.new-title }}
          </h2>
        <div class="pt-3 px-3 pb-1 mt-4 animate__animated animate__fadeInRight" style="border: 2px solid #1976D2;">
          <h3 class="fw-light fs-4 text-justify animate__animated animate__fadeInRight" style="
            color: #1976D2;
            line-height: 46px;"
          >
            {{ page.new-text }}
          </h3>
          <div class="fs-5 d-flex align-items-center animate__animated animate__fadeInRight mt-4">
            <div class="new-date__separator"></div>
            <div class="new-date__value fw-light">{{ page.publish-date }}</div>
          </div>
          <div class="fw-light fs-4 text-justify animate__animated animate__fadeInRight" style="
            color: #1976D2;
            line-height: 46px;"
          >
            <div class="new__sources fs-5 mt-4">
              {% if page.lang == "en" %}
                Sources:
                {% for source in page.sources %}
                  <a href="{{source.link}}" target="_blank">{{source.name}}</a>
                {% endfor %}
              {% else %}
                Источники:
                {% for source in page.sources %}
                  <a href="{{source.link}}" target="_blank">{{source.name}}</a>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="fw-light fs-4 text-justify animate__animated animate__fadeInRight" style="
          color: #1976D2;
          line-height: 46px;"
        >
          <div class="new__tags fs-5 mt-4">
            {% if page.lang == "en" %}
              {% for tag_hash in page.tags %}
                {% assign tag_name = tag_hash["name"] %}
                <a href="/tags-cloud/{{tag_name}}" target="_blank">
                  <div style="background: #1976D2;" class="badge badge-pill badge-primary" >{{tag_name}}</div>
                </a>
              {% endfor %}
            {% else %}
               {% for tag_hash in page.tags %}
                {% assign tag_name = tag_hash["name"] %}
                <a href="./tags-cloud/{{tag_name}}" target="_blank">
                  <div style="background: #1976D2;" class="badge badge-pill badge-primary" >{{tag_name}}</div>
                </a>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
