<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <script src="{{baseurl}}/assets/scripts/home/script.js"></script>
  <head>
    <title>
      {{ page.title }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="We are creating a Web3 platform for people and organizations to provide the opportunity to participate in honest and reliable cryptocurrency projects, and also creating a bridge between the crypto world and business development for greater efficiency and effectiveness.">
    <meta name="keywords" content="IXOList, cryptocurrencies, ICO, blockchain, news, analytics, reviews, investments, news. IXOList, криптовалюты, ICO, блокчейн, аналитика, инвестиции, новости">
    <meta name="author" content="IXOList">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta property="og:image" content="{{baseurl}}/assets/graphics/images/open-graph-img.jpg"/>
    <link rel="icon" type="image/x-icon" href="{{baseurl}}/assets/graphics/images/favico.ico">
    <link href="{{baseurl}}/assets/styles/css/new-styles.css" rel="stylesheet">
    <!-- Include animations -->
    {% include animations.html %}
    {% include bootstrap.html %}
  </head>
  <div class="header sticky-top shadow-lg" style="
    background: #1976D2;
  ">
    <div class="container d-flex">
      <div class="col">
        <div class="header-logo d-flex fs-5 p-3">
          {% if page.lang == "en" %}
            <a href="{{site.marketing_site_url}}" target="_blank">IXOlist</a>
            <div class="sub-logo">
              <a href="/">Mass Media</a>
            </div>
          {% else %}
            <a href="{{site.marketing_site_url}}" target="_blank">IXOlist</a>
            <div class="sub-logo">
              <a href="/{{page.lang}}">СМИ</a>
            </div>
          {% endif %}
        </div>
      </div>
      
      <div class="d-flex align-items-center">
        {% if page.lang == "en" %}
          <div class="sub-logo fs-5">
            <a href="/tags-cloud">Tags</a>
          </div>
          <div class="sub-logo fs-5">
            <a href="/news">News</a>
          </div>
        {% else %}
          <div class="sub-logo fs-5">
            <a href="/ru/tags-cloud">Теги</a>
          </div>
          <div class="sub-logo fs-5">
            <a href="/ru/news">Новости</a>
          </div>
        {% endif %}
        {% include multilang-buttons.html %}
      </div>
    </div>
  </div>
  <body>
    <div class="container p-4" style="color: #1976D2;">
      {% if page.lang == "en" %}
        <a class="tags-title" href="/tags-list/" style="text-decoration: none; color: #1976D2;"><h1 class="display-4 fw-bold mb-3">Tags</h1></a>
        <h3 class="fs-2 mb-4">{{page.tag}}</h3>
      {% else %}
      <a class="tags-title" href="/{{page.lang}}/tags-list/" style="text-decoration: none; color: #1976D2;"><h1 class="display-4 fw-bold mb-3">Теги</h1></a>
      <h3 class="fs-2 mb-4">{{page.tag}}</h3>
      {% endif %}
      {% assign tag_name = page.tag %}
      {% for tag in site.tags %}
        {% if tag[0].name == tag_name %}
          {% for post in tag[1] %}
            {% include new-card.html new=post %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  </body>
</html>
