<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <script src="{{baseurl}}/assets/scripts/tags/script.js"></script>
  <head>
    <title>
      {{ page.title }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="We are creating a Web3 platform for people and organizations to provide the opportunity to participate in honest and reliable cryptocurrency projects, and also creating a bridge between the crypto world and business development for greater efficiency and effectiveness.">
    <meta name="keywords" content="IXOList, cryptocurrencies, ICO, blockchain, news, analytics, reviews, investments, news. IXOList, криптовалюты, ICO, блокчейн, аналитика, инвестиции, новости">
    <meta name="author" content="IXOList">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta property="og:image" content="{{baseurl}}/assets/graphics/images/open-graph-img.jpg"/>
    <link rel="icon" type="image/x-icon" href="{{baseurl}}/assets/graphics/images/favico.ico">
    <link href="{{baseurl}}/assets/styles/css/new-styles.css" rel="stylesheet">
    <!-- Include animations -->
    {% include animations.html %}
    {% include bootstrap.html %}
  </head>
  <div class="header sticky-top shadow-lg" style="
    background: #1976D2;
  ">
    <div class="container d-flex">
      <div class="col">
        <div class="header-logo d-flex fs-5 p-3">
          {% if page.lang == "en" %}
            <a href="{{site.marketing_site_url}}" target="_blank">IXOlist</a>
            <div class="sub-logo">
              <a href="/tags-cloud/">Mass Media</a>
            </div>
          {% else %}
            <a href="{{site.marketing_site_url}}" target="_blank">IXOlist</a>
            <div class="sub-logo">
              <a href="/{{page.lang}}/tags-cloud/">СМИ</a>
            </div>
          {% endif %}
          <div class="dropdown">
            <img width="28px;" class="dropbtn" src="{{baseurl}}/assets/graphics/images/three-dots.png"></img>
            <div class="dropdown-content">
              {% if page.lang == "en" %}
                <div class="fs-5">
                  <a href="/tags-cloud">Tags</a>
                </div>
                <div class="fs-5">
                  <a href="/news">News</a>
                </div>
              {% else %}
                <div class="fs-5">
                  <a href="/ru/tags-cloud">Теги</a>
                </div>
                <div class="fs-5">
                  <a href="/ru/news">Новости</a>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="dropdown">
            <img width="28px;" class="dropbtn" src="{{baseurl}}/assets/graphics/images/dots.png"></img>
            <div class="dropdown-content">
              {% if page.lang == "en" %}
                <div class="fs-5">
                  <a href="https://ixolist-mass-media.netlify.app/tags-cloud/">Mass Media</a>
                </div>
                <div class="fs-5">
                  <a href="https://ixolist.netlify.app/apps/">Platform Apps</a>
                </div>
              {% else %}
                <div class="fs-5">
                  <a href="https://ixolist-mass-media.netlify.app/ru/tags-cloud/">СМИ</a>
                </div>
                <div class="fs-5">
                  <a href="https://ixolist.netlify.app/ru/apps/">Приложения</a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center">
        {% include multilang-buttons.html %}
      </div>
    </div>
  </div>
  <body>
    <div class="container p-4" style="color: #1976D2;">
      {% if page.lang == "en" %}
        <div class="d-flex justify-content-start align-items-center mb-3">
          <h1 class="display-4 fw-bold">Tags</h1>
          <div class="d-flex align-items-center" style="margin-left: 20px;">
            {% if page.cloud %}
            <span title="Cloud" style="cursor: pointer;" class="fs-3 fw-bold">
              <a style="text-decoration: none; color: #1976d2;" href="/tags-cloud">
                <img width="36px;" src="{{baseurl}}/assets/graphics/images/cloud-filled.png"></img>
              </a>
              </span>
            <div class="mx-3" style="display: block; height: 32px; width: 2px; background: #1976d2;"></div>
            <span title="List" style="cursor: pointer;" class="fs-3 fw-bold">
              <a style="text-decoration: none; color: #1976d2;" href="/tags-list">
                <img width="36px;" src="{{baseurl}}/assets/graphics/images/list.png"></img>
              </a></span>
            {% else if %}
            <span title="Cloud" style="cursor: pointer;" class="fs-3 fw-bold ">
              <a style="text-decoration: none; color: #1976d2;" href="/tags-cloud">
                <img width="36px;" src="{{baseurl}}/assets/graphics/images/cloud.png"></img>
              </a>
            </span>
            <div class="mx-3" style="display: block; height: 32px; width: 2px; background: #1976d2;"></div>
            <span title="List" style="cursor: pointer;" class="fs-3 fw-bold">
              <a style="text-decoration: none; color: #1976d2;" href="/tags-list">
                <img width="36px;" src="{{baseurl}}/assets/graphics/images/list-filled.png"></img>
              </a></span></span>
            {% endif %}
          </div>
        </div>
      {% else %}
        <div class="d-flex justify-content-start align-items-center mb-3">
          <h1 class="display-4 fw-bold">Теги</h1>
          <div class="d-flex align-items-center" style="margin-left: 20px;">
            {% if page.cloud %}
            <span title="Облако" style="cursor: pointer;" class="fs-3 fw-bold">
              <a style="text-decoration: none; color: #1976d2;" href="/ru/tags-cloud">
                <img width="36px;" src="{{baseurl}}/assets/graphics/images/cloud-filled.png"></img>
              </a>
              </span>
            <div class="mx-3" style="display: block; height: 32px; width: 2px; background: #1976d2;"></div>
            <span title="Список" style="cursor: pointer;" class="fs-3 fw-bold">
              <a style="text-decoration: none; color: #1976d2;" href="/ru/tags-list">
                <img width="36px;" src="{{baseurl}}/assets/graphics/images/list.png"></img>
              </a></span>
            {% else if %}
            <span title="Облако" style="cursor: pointer;" class="fs-3 fw-bold ">
              <a style="text-decoration: none; color: #1976d2;" href="/ru/tags-cloud">
                <img width="36px;" src="{{baseurl}}/assets/graphics/images/cloud.png"></img>
              </a>
            </span>
            <div class="mx-3" style="display: block; height: 32px; width: 2px; background: #1976d2;"></div>
            <span title="Список" style="cursor: pointer;" class="fs-3 fw-bold">
              <a style="text-decoration: none; color: #1976d2;" href="/ru/tags-list">
                <img width="36px;" src="{{baseurl}}/assets/graphics/images/list-filled.png"></img>
              </a></span></span>
            {% endif %}
          </div>
        </div>
      {% endif %}
      {% for post in page.posts %}
        {% include new-card.html new=post %}
      {% endfor %}
      {% if page.cloud %}
      <div id="tag-cloud-cloud">
        <div class="
          container
          d-flex
          flex-row
          justify-content-center
          align-items-center
          animate__animated
          animate__fadeInLeft
          p-4
        ">
          {% if page.lang == "en" %}
            {% include cloud-tags/cloud-tags-en-desktop.html tagsPath="/tags/" %}
            {% include cloud-tags/cloud-tags-en-mobile.html tagsPath="/tags/" %}
          {% else %}
            {% include cloud-tags/cloud-tags-ru-desktop.html tagsPath="/tags/"%}
            {% include cloud-tags/cloud-tags-ru-mobile.html tagsPath="/tags/"%}
          {% endif %}
        </div>
      </div>
      {% else if %} 
        <div id="tag-cloud-list">
          <div class="d-flex flex-wrap">
            <ul>
            {% for tag_hash in site.tags %}
              {% assign tag_info = tag_hash | first %}
              {% assign tag_name = tag_info.name %}
              {% assign tag_lang = tag_info.lang %}
              {% if tag_lang == page.lang %}
                <li class="tags__tag-link mb-1">
                  <a href="/tags/{{ tag_name }}">
                    <h4 class="fs-4" id="{{ tag_name | slugify }}"> {{ tag_name }}</h4>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
      </div>
    </div>
  </body>
</html>
