html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

.container {
  max-width: 1060px !important;
}

.multilang-buttons {
  color: #fff;
  z-index: 1;
}

.multilang-buttons--selected {
  color: #1976D2 !important;
}

.multilang-buttons > a {
  text-decoration: none !important;
  color: #fff;
}

.separator {
  background: #fff;
  height: 24px;
  width: 2px;
  display: flex;
  margin: 0 10px;
}

.header-logo {
  color: #fff;
  cursor: pointer;
  transition: .3s;
  padding: 6px;
  width: fit-content !important;
  display: flex;
  align-items: center;
}

.header-logo > a:hover {
  opacity: .3;
  transition: .3s;
}

.header-logo > .sub-logo > a:hover {
  opacity: .3;
  transition: .3s;
}

.header-logo > a {
  color: #fff;
  text-decoration: none;
  transition: .3s;
  border: 3px solid #fff;
  padding: 6px;
}

.sub-logo > a:hover {
  opacity: .3;
  transition: .3s;
}

.sub-logo > a {
  color: #fff;
  text-decoration: none;
  transition: .3s;
  padding: 6px;
  white-space: nowrap;
}

.header-logo > .sub-logo > a {
  color: #fff;
  text-decoration: none;
  transition: .3s;
  padding: 6px;
  white-space: nowrap;
}

#breadcrumbs {
  color: #fff !important;
  width: 100%;
  overflow: auto;
}

#breadcrumbs::-webkit-scrollbar {
  display: none;
}

#breadcrumbs > a {
  text-decoration: none;
  color: #fff;
  transition: .3s;
}

#breadcrumbs > a:hover {
  opacity: .3;
  transition: .3s;
}

.news-block {
  display: flex;
  flex-wrap: wrap;
}

.news-block__card {
  display: flex;
  flex-direction: column;
  border: 2px solid #1976D2;
  text-decoration: none;
  color: #1976D2;
  transition: .3s;
  align-items: start;
  justify-content: center;
}

.news-block__card:hover {
  transition: .3s;
  opacity: .5;
}

.language-selector {
  position: relative;
  display: flex;
  align-items: center;
}

.language-icon {
  position: relative;
  display: inline-block;
}

.language-options {
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: none;
}

.language-icon:hover .language-options {
  display: block;
}

.language-options ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.language-options ul li {
  margin-bottom: 5px;
}

.language-options ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  display: block;
}

.language-options ul li a:hover {
  background-color: #f0f0f0;
}

.category-title {
  color: #1976D2;
  font-weight: 500 !important;
}

.new-date__separator {
  height: 16px;
  width: 5px;
  background: #1976D2;
  margin-right: 6px;
}

.new-date__value {
  color: #1976D2 !important;
}

.new__tags {
  display: flex;
  flex-wrap: wrap;
}

.new__tags > a{
  display: flex;
  height: auto;
  text-decoration: none !important;
  margin-right: 10px;
  margin-bottom: 10px;
}

.tags__tag-link > a{
  text-decoration: none;
  color: #1976D2;
}

.tags__tag-link:after {
  display: block;
  position: relative;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #1976D2;
  content: "";
  transition: width 0.3s ease-out;
}

.tags__tag-link:hover:after,
.tags__tag-link:focus:after {
  width: 100%;
}

.tags-title:hover {
  opacity: .6;
  transition: .3s;
}

.tags-title {
  transition: .3s;
}

.tags-container-en--desktop {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.tags-container-en--mobile {
  width: 100%;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.tags-container-ru--desktop {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.tags-container-ru--mobile {
  width: 100%;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.tag {
  color: #1976D2;
  text-decoration: none;
  font-size: 8px;
  font-weight: lighter;
  transition: color 0.3s ease;
  margin: 4px;
}

.tag:after {
  display: block;
  position: relative;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #1976D2;
  content: "";
  transition: width 0.3s ease-out;
}

.tag:hover:after,
.tag:focus:after {
  width: 100%;
}

@media screen and (max-width: 576px) { 
  .new-preview__description {
    margin-top: 12px !important;
  }
}

@media screen and (max-width: 768px) { 
  .tags-container-en--mobile {
    display: flex;
  }
  
  .tags-container-en--desktop {
    display: none;
  }

  .tags-container-ru--mobile {
    display: flex;
  }
  
  .tags-container-ru--desktop {
    display: none;
  }
}

#viewSelector {
  font-size: 24px;
  font-weight: 500;
  color: #1976D2;
}

.dropbtn {
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #1976D2;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #1976D2;
  color: #fff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  opacity: .6
}

.new-image__container {}

.new-image__container > img {
  width: 100%;
  aspect-ratio: 16/9;
}

.tag-badge {
  border: 1px dashed #1976D2;
  padding: 1px 4px;
  line-height: 30px;
  transition: .3s;
}

.tag-badge:hover {
  opacity: .5;
  transition: .3s;
}